* {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 400px;
}

p {
    margin: 15px 15px;
}

.introduction {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: 15px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: purple;
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

ol {
    padding-left: 15px;
    max-height: 600px;
    overflow: auto;
}

button:hover {
    background-color: #9e99a1;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}
  
.options button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

.hide {
    display: none;
}

li:nth-child(odd) {
    background-color: #a38c93;
}

.feedback {
    font-style: bold;
    font-size: 100%;
    margin-top: 20px;
    padding-top: 15px;
    color: #fff;
    border-top: 2px solid #5931e9;
}

@media screen and (max-width: 965px) {

}

@media screen and  (max-width: 528px) {

}