* {
    font-family:'Times New Roman', Times, serif;
}

:root{
    --pixel: 15px;
    --light: white;
}

.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 400px;
}

p {
    margin: var(--pixel) var(--pixel);
}

.introduction {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: var(--pixel);
    left: var(--pixel);
}

.timer {
    position: absolute;
    top: var(--pixel);
    right: var(--pixel);
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: var(--light);
    background-color: purple;
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

ol {
    padding-left: var(--pixel);
    max-height: 600px;
    overflow: auto;
}

button:hover {
    background-color: #9e99a1;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}
  
.options button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

.hide {
    display: none;
}

li:nth-child(odd) {
    background-color: #a38c93;
}

.fb {
    font-style: bold;
    font-size: 100%;
    margin-top: 20px;
    padding-top: var(--pixel);
    color: var(--light);
    border-top: 2px solid #5931e9;
}

@media screen and (max-width: 965px) {

}

@media screen and  (max-width: 528px) {

}